@media(max-width:1100) {
	.subscription-box {
		width: 30%;
	}
}
@media(max-width:800) {
	.subscription-box {
		width: 40%;
	}
	.entries {
		width: 96%;
		padding: 20px 2%;
	}
	.container {
		padding: 0;
	}
	body {
		padding-top: 50px;
	}
}
@media(max-width:480px) {
	.subscription-box {
		width: 100%;
	}
	.login {
		width: 90%;
		margin: 40px auto;
		padding: 20px;
		border-radius: 6px;
	}
}